<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chicken</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- CDN Vue.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Chicken</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="puppets.html">Marrionnettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="moves.html">Mouvements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="choreographies.html">Chorégraphie</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                <li>
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="app">

        <div class="alert alert-dismissible alert-danger" id="error" v-if="error" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Erreur !</strong> {{error}}
        </div>

        <div style="margin-bottom: 20px; margin-top: 20px;">
            <h1 style="text-align: center;">Chorégraphies
                <a href="createChoreography.html" style="float: right;">
                    <button type="button" class="btn btn-outline-primary btn-lg" name="button"><i class="fas fa-plus"></i></button>
                </a>
            </h1>
            <!-- &nbsp; -->
        </div>

        <div class="row" v-for="choreography in choreographies">
            <div class="col-md-1">
                <a href="#" v-on:click="toSend(choreography._id)">
                    <button type="button" name="button" class="btn btn-outline-primary btn-lg">
                        <i class="far fa-hand-pointer"></i>
                    </button>
                </a>
            </div>

            <div class="col-md-11">
                <div class="card border-light mb-3">
                    <div class="card-header">
                        <a href="#" v-on:click="goToUpdate(choreography)">{{choreography.name}}</a>
                        <a href="#" v-on:click="deleteChoreography(choreography)"><i class="fas fa-trash" style="float: right; font-size:20px;"></i></a>
                    </div>
                    <div class="card-body">
                        <span v-for="move in choreography.movement" style="margin-right: 20px;"><strong>{{move.index}} - </strong>{{move.name}}</span>
                    </div>
                </div>
            </div>

        </div>

        <a href="#" v-on:click="sendCode" style="float: right; margin-bottom: 20px;">
            <button type="button" name="button" class="btn btn-outline-primary btn-lg">
                Ecrire le code
            </button>
        </a>

    </div>

<script type="text/javascript" src="../choreographies.js"></script>

</body>
</html>
