<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chicken</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- CDN Vue.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Chicken</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="puppets.html">Marrionnettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="moves.html">Mouvements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="choreographies.html">Chorégraphie</a>
                </li>
            </ul>

            <!-- <ul class="navbar-nav my-2 my-lg-0">
                <li>
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
            </ul> -->
        </div>
    </nav>

    <div class="container" id="app" style="padding-top: 20px; min-width: 800px;">

        <div class="alert alert-dismissible alert-danger" id="error" v-if="error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Erreur !</strong> {{error}}
        </div>

        <div class="card border-light mb-3">
            <div class="card-header">Chorégraphy</div>
            <div class="card-body">

                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" name="name" placheholder="Nom" v-model="choreography_form_name">
                </div>

                <div class="movements_list" id="movements_list" v-for="move in movements_form" :key="move.index">
                    <div class="" id="movement">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-11">
                                    <label for="name">Mouvement - {{move.index}}</label>
                                    <select class="form-control" name="mouvements_list" v-on:change="movementValuesCreateModif" id="select">
                                        <option value="" disabled selected>Choisissez : mouvement - (pas, durée, direction, hauteur)</option>
                                        <!-- <option v-for="movement in movements" v-if="movement._id === move._id" v-bind:value="JSON.stringify(movement)" selected>{{movement.name}} - ({{movement.steps}}, {{movement.time}}, {{movement.direction}}, {{movement.height}})</option> -->
                                        <option v-for="movement in movements" v-bind:value="JSON.stringify(movement)">{{movement.name}} - ({{movement.steps}}, {{movement.time}}, {{movement.direction}}, {{movement.height}})</option>
                                        <!-- <option v-for="movement in movements" v-if="!movement.index" v-bind:value="JSON.stringify(movement)">{{movement.name}} - (unknow, {{movement.time}}, {{movement.direction}}, {{movement.height}})</option> -->
                                    </select>
                                </div>

                                <!-- <div class="col-md-1" style="padding-top: 35px; padding-left: 35px;">
                                    <a href="#" v-on:click="showParams()"><i class="fas fa-arrow-circle-down setUp" style="font-size: 30px;"></i></a>
                                </div> -->

                                <div class="col-md-1" style="padding-top: 27px; padding-left: 10px;">
                                    <a href="#" v-on:click="deleteValueCreate(move)">
                                        <button type="button" class="btn btn-outline-primary btn-lg" name="button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="movementParams" id="movementParams" style="display: none;">
                             <div class="form-group">
                                <label for="name">Nom</label>
                                <input type="text" class="form-control" id="name" placeholder="Nom de la marrionnette" v-model="movement_form_name">
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="steps"></label>
                                <input type="number" class="form-control" name="steps" placeholder="Nombre de pas du robot" v-model="movement_form_steps">
                            </div>

                            <div class="form-group">
                                <label for="time"></label>
                                <input type="number" class="form-control" name="time" placeholder="Vitesse du robot" v-model="movement_form_time">
                            </div>

                            <div class="form-group">
                                <label for="direction"></label>
                                <input type="number" class="form-control" name="direction" placeholder="Direction du robot" v-model="movement_form_direction">
                            </div>

                            <div class="form-group">
                                <label for="height"></label>
                                <input type="number" class="form-control" name="height" placeholder="hauteur du mouvement" v-model="movement_form_height">
                            </div>
                        </div> -->

                    </div>

                </div>

                <a href="#" v-on:click="createChoreography();" style="float: left; margin-top: 20px;" v-if="movements_form.length !== 0">
                    <button type="button" class="btn btn-info btn-lg" name="button">Créer Chorégraphie</button>
                </a>

                <a href="#" v-on:click="movementValuesCreate" style="float: right; margin-top: 20px;" style="margin-bottom: 20px;">
                    <button type="button" class="btn btn-outline-primary btn-lg" name="button"><i class="fas fa-plus"></i></button>
                </a>

            </div>
        </div>

    </div>


<script type="text/javascript" src="../choreographies.js"></script>

</body>
</html>
