<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chicken</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- CDN Vue.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Chicken</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="puppets.html">Marrionnettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="moves.html">Mouvements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="choreographies.html">Chorégraphie</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                <li>
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="app" style="padding-top: 20px;">

        <div class="card border-light mb-3">
            <div class="card-header">Chorégraphy</div>
            <div class="card-body">

                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" name="name" placheholder="Nom">
                </div>

                <div class="movements_list" id="movements_list" v-for="index in count_movements">
                    <div class="" id="movement">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-11">
                                    <label for="name">Mouvement - {{index}}</label>
                                    <select class="form-control" name="mouvements_list">
                                        <option value="" v-for="movement in movements">{{movement.name}}</option>
                                    </select>
                                </div>

                                <div class="col-md-1" style="padding-top: 35px; padding-left: 35px;">
                                    <a href="#" v-on:click="showParams()"><i class="fas fa-arrow-circle-down" style="font-size: 30px;"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="movementParams" id="movementParams" style="display: none;">
                            <div class="form-group">
                                <label for="steps"></label>
                                <input type="text" class="form-control" name="steps" placeholder="Nombre de pas du robot" value="">
                            </div>

                            <div class="form-group">
                                <label for="speed"></label>
                                <input type="text" class="form-control" name="speed" placeholder="Vitesse du robot" value="">
                            </div>

                            <div class="form-group">
                                <label for="rotation"></label>
                                <input type="text" class="form-control" name="rotation" placeholder="Degré de rotation du robot" value="">
                            </div>

                            <div class="form-group">
                                <label for="unknown"></label>
                                <input type="text" class="form-control" name="unknown" placeholder="Inconnu au bataillon" value="">
                            </div>
                        </div>

                    </div>

                </div>

                <a href="#" v-on:click="createChoreography();" style="float: left; margin-top: 20px;">
                    <button type="button" class="btn btn-info btn-lg" name="button">Créer Chorégraphie</button>
                </a>

                <a href="#" v-on:click="addMovement();" style="float: right; margin-top: 20px;">
                    <button type="button" class="btn btn-outline-primary btn-lg" name="button"><i class="fas fa-plus"></i></button>
                </a>

            </div>
        </div>

    </div>


<script type="text/javascript" src="../choreographies.js"></script>

</body>
</html>
