<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chicken</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- CDN Vue.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Chicken</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="puppets.html">Marrionnettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="moves.html">Mouvements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="choreographies.html">Chorégraphie</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                <li>
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container" id="app" style="margin-top: 20px;">

    <a href="addMovement.html" style="float: right; margin-bottom: 20px;"><button type="button" class="btn btn-outline-primary btn-lg" name="button"><i class="fas fa-plus"></i></button></a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Temps</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="movement in movements">
                <td><a href="#" v-on:click="formValues(movement)">{{movement.name}}</a></td>
                <td><a href="#" v-on:click="formValues(movement)"></a></td>
                <td>
                    <a href="#" v-on:click="formValues(movement)"><i class="fas fa-pencil">modify</i></a>
                    <a href="#" v-on:click="deleteMovement(movement)"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Nom de la marrionnette" v-model="movement_form_name">
    </div>

    <div class="form-group">
        <label for="bluetoothCode">Temps</label>
        <input type="text" class="form-control" id="temps" aria-describedby="TempsHelp" placeholder="Temps de l'image" v-model="movement_form_time">
        <small id="codeHelp" class="form-text text-muted">Temps du mouvement et de l'image gif</small>
    </div>

    <button type="submit" class="btn btn-primary" name="update" v-on:click="updateMovement()">update</button>

</div>
<script src="../movements.js"></script>

    <!-- <div class="card border-light mb-3" >
        <div class="card-header">Mouvement</div>
        <div class="card-body" style="text-align: center;">
            <h4 class="card-title">Nom</h4>
            <img src="../assets/images/giphy.gif" alt="">
            <p class="card-text">Temps</p>
        </div>
    </div>

</div> -->

</body>
</html>
