<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chicken</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- CDN Vue.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Chicken</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="puppets.html">Marrionnettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="moves.html">Mouvements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="choreographies.html">Chorégraphie</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                <li>
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container" id="app">

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Bluetooth Code</th>
            <th scope="col">Bluetooth Password</th>
            <th scope="col">Chorégraphie</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="puppet in puppets">
            <td><a href="#" v-on:click="formValues(puppet)">{{puppet.name}}</a></td>
            <td><a href="#" v-on:click="formValues(puppet)">{{puppet.btMac}}</a></td>
            <td><a href="#" v-on:click="formValues(puppet)">{{puppet.btPw}}</a></td>
            <td><a href="#" v-on:click="formValues(puppet)"></a></td>
        </tr>
    </tbody>
</table>

    <form>

        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" placeholder="Nom de la marrionnette" :value="puppet_form_name">
        </div>

        <div class="form-group">
            <label for="bluetoothCode">Bluetooth Code</label>
            <input type="text" class="form-control" id="bluetoothCode" aria-describedby="codeHelp" placeholder="Code bluetooth de l'appareil" :value="puppet_form_btMac">
            <small id="codeHelp" class="form-text text-muted">Code that gives access to the bluetooth of this puppets.</small>
        </div>

        <div class="form-group">
            <label for="mdp">Bluetooth Password</label>
            <input type="text" class="form-control" id="mdp" aria-describedby="mdpHelp" placeholder="Mot de passe Bluetooth" :value="puppet_form_btPw">
            <small id="mdpHelp" class="form-text text-muted">Bluetooth access password.</small>
        </div>

        <div class="form-group">
            <label for="chore">Chorégraphie</label>
            <a href="#" style="float: right; margin-bottom: 20px;"><button type="button" class="btn btn-outline-primary btn-lg" name="button"><i class="fas fa-plus"></i></button></a>
            <select class="form-control" name="chore">
                <option value="">TESTPUPPET</option>
                <option value="">puppet2</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" name="update">update</button>

    </form>
</div>
<script src="../app.js"></script>
</body>
</html>
